.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notesContainer {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.notes {
  list-style-type: none;
}

.footer {
  margin-bottom: 20px;
}
